form > input,
form > label {
    display: block;
}

input:invalid {
    border: 1px dotted red;
}

.card-preview > * + * {
    margin-top: 2rem;
    margin-bottom: 50px;
}

.front, 
.back {
    border: 2px solid black;
}


